.rl {
  &__gutter {
    flex: 0 0 auto;
    user-select: none;

    &__body {
      display: table;
    }

    &__row {
      display: table-row;

      span {
        display: table-cell;
      }
    }
  }
}
