.rl {
  &__overlay {
    box-sizing: border-box;
    position: absolute;

    &--top-left,
    &--top-right {
      display: flex;
      top: 0;
    }

    &--top-left {
      left: 0;
    }

    &--top-right {
      right: 0;
    }
  }
}
