@use 'sass:math';

$scrollbar-size: 10px !default;
$scrollbar-track-background: #303f4d !default;
$scrollbar-thumb-background: #647788 !default;
$scrollbar-corner-background: #222a33 !default;

.rl {
  &__body {
    // Only for firefox
    @supports ( scrollbar-width: thin ) {
      scrollbar-width: thin;
    }

    // For webkit
    &::-webkit-scrollbar {
      height: $scrollbar-size;
      width: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track-background;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-background;
      border-radius: math.div( $scrollbar-size, 2 );
    }

    &::-webkit-scrollbar-corner {
      background: $scrollbar-corner-background;
    }
  }
}
