$header-background: #303f4d !default;
$header-color: #93aec7 !default;
$header-padding: .5em 1em !default;

.rl {
  &__header {
    background: $header-background;
    box-sizing: border-box;
    color: $header-color;
    padding: $header-padding;
  }
}
