$font-size: 14px !default;
$line-height: 1.5 !default;
$selection-background: #4a5c6d !default;

.ryuseilight {
  font-size: $font-size;
  line-height: $line-height;

  ::selection {
    background-color: $selection-background;
  }
}
