$token-keyword: #5fbef5 !default;
$token-constant: #f88792 !default;
$token-symbol: #f88792 !default;
$token-comment: #7a91a6 !default;
$token-tag: #5fbef5 !default;
$token-selector: #2abac4 !default;
$token-atrule: #f88792 !default;
$token-attr: #29b477 !default;
$token-prop: #29b477 !default;
$token-value: #c5d559 !default;
$token-variable: #5291e5 !default;
$token-entity: #9a68f5 !default;
$token-cdata: #7a91a6 !default;
$token-prolog: #7a91a6 !default;
$token-string: #c5d559 !default;
$token-number: #f88792 !default;
$token-boolean: #f88792 !default;
$token-function: #2abac4 !default;
$token-class: #29b477 !default;
$token-decorator: #5d639e !default;
$token-regexp: #c5d559 !default;
$token-operator: #2abac4 !default;
$token-bracket: #7a91a6 !default;
$token-delimiter: #7a91a6 !default;

.rl {
  &__keyword {
    color: $token-keyword;
  }

  &__constant {
    color: $token-constant;
  }

  &__symbol {
    color: $token-symbol;
  }

  &__comment {
    color: $token-comment;
  }

  &__tag {
    color: $token-tag;
  }

  &__selector {
    color: $token-selector;
  }

  &__atrule {
    color: $token-atrule;
  }

  &__attr {
    color: $token-attr;
  }

  &__prop {
    color: $token-prop;
  }

  &__value {
    color: $token-value;
  }

  &__variable {
    color: $token-variable;
  }

  &__entity {
    color: $token-entity;
  }

  &__cdata {
    color: $token-cdata;
  }

  &__prolog {
    color: $token-prolog;
  }

  &__identifier {
  }

  &__string {
    color: $token-string;
  }

  &__number {
    color: $token-number;
  }

  &__boolean {
    color: $token-boolean;
  }

  &__function {
    color: $token-function;
  }

  &__class {
    color: $token-class;
  }

  &__decorator {
    color: $token-decorator;
  }

  &__regexp {
    color: $token-regexp;
  }

  &__operator {
    color: $token-operator;
  }

  &__bracket {
    color: $token-bracket;
  }

  &__delimiter {
    color: $token-delimiter;
  }

  &__space {
  }
}
