@use '../../template/ryusei' with (
  $background: #202635,
  $color: #cad2e6,
  $font-size: 14px,
  $line-height: 1.5,
  $selection-background: #4a5c6d,

  $scrollbar-size: 10px,
  $scrollbar-track-background: #333d57,
  $scrollbar-thumb-background: #4b5a80,
  $scrollbar-corner-background: #2a3247,

  $code-padding: 1em 0,
  $code-overlay-padding: 1.8em 0,

  $gutter-background: #232a3b,
  $gutter-row-color: #4b5a80,
  $gutter-row-padding: 0 .5em,
  $gutter-row-background-active: #2a3247,
  $gutter-row-color-active: #9faccc,

  $header-background: #333d57,
  $header-color: #9faccc,
  $header-padding: .5em 1em,

  $line-side-padding: 1.5em,
  $line-side-padding-gutter: 1em,
  $line-border-left-width: 2px,
  $line-background-active: #2a3247,
  $line-border-left-color-active: #df5952,

  $name-background: #333d57,
  $name-border-radius: 0 0 4px 4px,
  $name-color: #9faccc,
  $name-font-size: .8em,
  $name-padding: .3em 1em,

  $overlay-padding: 0 1.5em,

  $button-background: #4b5a80,
  $button-background-hover: #df5952,
  $button-border-radius: 0 0 4px 4px,
  $button-font-size: .8em,
  $button-color: #cad2e6,
  $button-color-hover: #cad2e6,
  $button-margin: 0 .5em,
  $button-min-width: 4.5em,
  $button-padding: .3em 1em,

  $token-keyword: #d272e4,
  $token-constant: #df5952,
  $token-symbol: #df5952,
  $token-comment: #7890cc,
  $token-tag: #d272e4,
  $token-selector: #cfb053,
  $token-attr: #b9cd32,
  $token-prop: #b9cd32,
  $token-value: #67cb78,
  $token-variable: #df5952,
  $token-entity: #df5952,
  $token-prolog: #7890cc,
  $token-string: #67cb78,
  $token-number: #42b9c7,
  $token-boolean: #df5952,
  $token-function: #2abac4,
  $token-class: #b9cd32,
  $token-decorator: #527adf,
  $token-regexp: #67cb78,
  $token-operator: #42b9c7,
  $token-bracket: #9faccc,
  $token-delimiter: #9faccc
);
